# 每天00:00点各种重置
0 0 * * * /PATH/reset.sh
# 周一到周六 21:00 重置比武日积分
0 21 * * 1,2,3,4,5,6 /PATH/reset_arena_day.sh
# 周日 21:30 重置比武周积分
30 21 * * 0 /PATH/reset_arena_week.sh
# 每天00:00 清理过期邮件
0 0 * * * /PATH/clean_mail.sh
# 每天00:00 清理历史战斗录像
0 0 * * * /PATH/clean_battle_record.sh
# 每隔一定时间清理在线用户
*/30 * * * * /PATH/clean_active_players.sh

# 整点和半点增加掠夺次数，2:00~8:00不增加
*/30 0-2,8-23 * * * /PATH/add_plunder_times.sh

# 每周清理掠夺次数排行榜
0 0 * * 0 /PATH/clean_plunder_board_weekly.sh

# 每天日志 logrotate
0 0 * * * /usr/sbin/logrotate -f /etc/logrotate.d/sango-server-1
