# 每天00:00点各种重置
0 0 * * * /PATH/reset.sh
# 每天08:00点重置挂机剩余时间
0 8 * * * /PATH/reset_hang.sh
# 每天21:00 重置比武日积分
0 21 * * * /PATH/reset_arena_day.sh
# 每天21:30 重置比武周积分
30 21 * * * /PATH/reset_arena_week.sh
# 每天00:00 清理过期邮件
0 0 * * * /PATH/clean_mail.sh
# 每天00:00 清理历史战斗录像
0 0 * * * /PATH/clean_battle_record.sh
# 每隔一定时间清理在线用户
*/30 * * * * /PATH/clean_active_players.sh
