[uwsgi]
chdir = /PATH
pythonpath = ..
virtualenv = ../env
env = DJANGO_SETTINGS_MODULE=sanguo.settings
module = sanguo.wsgi:application
socket = 127.0.0.1:7999
listen = 2048
max-requests = 50000
reload-on-as = 512
master = true
processes = 2
threads = 2
enable-threads = true
thunder-lock = true
buffer-size = 32768
daemonize = run/uwsgi.log
pidfile = run/uwsgi.pid
