[uwsgi]
chdir = %d
pythonpath = ..
virtualenv = ../env
env = DJANGO_SETTINGS_MODULE=sanguo.settings
module = sanguo.wsgi:application
socket = 127.0.0.1:7999
listen = 2048
max-requests = 20000
reload-on-rss = 128
master = true
processes = 4
threads = 1
enable-threads = true
thunder-lock = true
buffer-size = 32768
daemonize = run/uwsgi.log
pidfile = run/uwsgi.pid

spooler = .
spooler-processes = 4
spooler-max-tasks = 5
import = tasks
